# Gentoo specific floppy and usb groups
SUBSYSTEM=="block", KERNEL=="fd[0-9]", GROUP="floppy"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", GROUP="usb"
